
/*! ----------------------- DESKTOP ----------------------- */

@media (min-width: 1025px) {


  /* Contacto
     ========================================================================== */

  /*
 
 
/* ----------- contacto ----------- */

.contacto-container {
    display: flex;
  }
  .contacto__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .contacto__text {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 1.5%;
  }

  .contacto__title {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1.5%;
  }

  .contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 55px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .contacto__info-container__title {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
  }

  .contacto__info-container__text {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
  }

  .contacto__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* SACAR ESE MARGIN TOP CUANDO PUEDA MODIFICAR EL HEIGHT DEL FORM*/

    margin-top: 1.5%;
  }

  .contacto__info-container {
    width: 20%;
    margin-left: 5%;
  }

  .contacto__form-container {
    width: 25%;
    height: 20%;
    margin-left: 10%;
    /*box-sizing: border-box;*/
    background-color: #ffe2bb;
    padding: 1%;
    text-align: center;
    border-radius: 1%;
  }

  .contacto__form-container__title {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height */

    color: #000000;
  }

  .contacto__form-container__item {
    display: inline-block;
    /* aunque este el inline block no me deja darle alto, la manera de
que quede bien fue dandole mas pading*/
    border-style: none;
    margin: 1%;
    width: 90%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #757575;
    padding: 3%;
  }

  .contacto__form-container__btn {
    border-style: none;
    width: 96%;
    padding: 3%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    background-color: #ffa429;
    color: #ffffff;
    margin-top: 4%;
    margin-bottom: 4%;
    cursor: pointer;

    /* transicion*/

    transition: all 0.5s ease-in-out;
  }

  .btn-contacto-container {
    overflow: hidden;
  }

  .btn-contacto-container:hover {
    transform: translatey(2px);
  }

  .contacto__form-container__btn:hover {
    background: #f363ac;
  }

  .contacto__form-container__btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: white;
    top: 0;
    left: 0;
    animation: rotate 1s ease-in-out;
  }

  .contacto__form-container__btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: white;
    bottom: 0;
    left: 0;
    animation: rotate 1s ease-in-out;
  }

  @keyframes rotate {
    0% {
      width: 0;
    }
    100% {
      width: 150%;
    }
  }

  /* ---------nav bar ----------*/

  .nav-bar-contacto__flex {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f363ac;
  }

  .nav-bar-contacto__text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
  }

  .nav-bar-contacto__text__link {
    text-decoration: none;
    color: #f363ac;
  }

  /* ----------- body ----------- */

  .background-contacto {
    background-image: url("../data/contacto-turnosBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }


}