@media (max-width: 480px) {
  /* Cursos
     ========================================================================== */

  /*
/* ------- cursos --------- */

  @include cursosResponsive(mobile);

  /* ----------- body ----------- */

  .background-cursos {
    background-image: url("../data/cursosBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}

/*! ----------------------- TABLET ----------------------- */

@media (min-width: 481px) and (max-width: 1024px) {
  /* Cursos
     ========================================================================== */

  /*
/* ------- cursos --------- */

@include cursosResponsive(tablet);

  /* ----------- body ----------- */

  .background-cursos {
    background-image: url("../data/cursosBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}

/*! ----------------------- DESKTOP ----------------------- */

@media (min-width: 1025px) {
  /* Cursos
     ========================================================================== */

  /*
/* ------- cursos --------- */
@include cursosResponsive(desktop);

  /* ----------- body ----------- */

  .background-cursos {
    background-image: url("../data/cursosBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}
