/*! ----------------------- MOBILE FIRST ----------------------- */

@media (max-width: 480px) {
  /* Piercings
       ========================================================================== */

  /*
  /* ---------- piercings --------- */

  @include piercingsResponsive();

  /* ---------- general --------- */

  .background-piercings {
    background-image: url("../data/piercingsBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}

/*! ----------------------- TABLET ----------------------- */

@media (min-width: 481px) and (max-width: 1024px) {
  /* Piercings
       ========================================================================== */

  /*
  /* ---------- piercings --------- */

  @include piercingsResponsive();

  /* ---------- general --------- */

  .background-piercings {
    background-image: url("../data/piercingsBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}

/*! ----------------------- DESKTOP ----------------------- */

@media (min-width: 1025px) {
  /* Piercings
       ========================================================================== */

  /*
  /* ---------- piercings --------- */

  @include piercingsResponsive();

  /* ---------- general --------- */

  .background-piercings {
    background-image: url("../data/piercingsBackground.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}
