@import "_var-index";
@import "_var-header";
@import "_var-footer";
@import "_var-contacto-turnos";
@import "_var-piercings";
@import "_var-cursos";

//------colores------//

$colores: (
  "rosa": #f363ac,
  "amarillo": #ffe2bb,
  "amarilloBtn": #ffa429,
  "negro": #000000,
  "blanco": #ffffff,
  "gris": #757575,
);

//------imágenes de fondo y texto en contenedores espejo/acuarela------//

@mixin imgFondo($margin, $width, $height, $background, $flexDirection) {
  margin: $margin;
  width: $width;
  height: $height;
  background: url("../data/#{$background}.png") no-repeat center;

  display: inline-block;
  flex-direction: $flexDirection;

  /*centrar contenido*/
  display: flex;

  /*centrar contenido eje X*/
  justify-content: center;

  /*centrar contenido eje Y*/
  align-items: center;
}

@mixin imgFondo__txt($font-weight) {
  font-family: "Josefin Sans", sans-serif;
  font-weight: $font-weight;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: map-get($colores, negro);
  text-decoration: none;
}

//------textos con título rosa------//

@mixin rosaTitle($font-size) {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size;
  line-height: 100%;
  color: map-get($colores, rosa);
}

@mixin rosaTitle__txt($font-size) {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size;
  color: map-get($colores, negro);
}

//------imágenes de fondo ------//

@mixin background($name, $img) {
  .background-#{$name} {
    background-image: url("../data/#{$img}.png");

    /* it fits the backdround image to the size of the browser window */
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 100%;
    height: auto;
  }
}
