@mixin piercingsResponsive() {
  //mismo código para todas las paginas porque la
  //bootstrap ya lo hace responsive

  .piercings__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .piercings__text {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1.5%;
  }

  /* galería */

  .galeria {
    max-width: 80%;
  }
}
